<!-- Top navigation bar -->
<div id="topnav" class="row pt-lg-2 d-lg-flex">
    <div class="col-6 my-auto py-1 py-lg-0 text-center text-lg-left">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="logo-font hvr-skew-forward my-0">Dawg</h2>
      </a>
    </div>
    <div class="col-6 my-auto py-1 py-lg-0 px-1 px-sm-3">
      <ul class="list-inline list-unstyled text-right my-0">
          <li class="list-inline-item dropdown">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center">
                      <div><i class="fas fa-dog fa-2x"></i></div>
                      <p class="my-0 d-none d-sm-block">My Account</p>
                  </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                      {% endif %}
                      <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
          </li>
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-info-circle fa-2x"></i></div>
                    <p class="my-0 d-none d-sm-block">About</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a href="{% url 'locations' %}" class="dropdown-item">Locations</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            </div>
          </li>
          <li class="list-inline-item">
              <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-cart fa-2x"></i></div>
                      <p class="my-0 d-none d-sm-block">
                          {% if grand_total %}
                              €{{ grand_total|floatformat:2 }}
                          {% else %}
                              €0.00
                          {% endif %}
                      </p>
                  </div>
              </a>
          </li>
      </ul>
  </div>
</div> 
<!-- Banner -->
<div id="slogan-banner" class="row text-center">
    <div class="col-12 text-black py-3">
        <h4 class="my-1">Deals worth barking about.</h4>                
    </div>            
  