{% extends "base.html" %}
{% load static %}

{% block navigation %}
    {% include './home-nav.html' %}
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto" id="home-center-div">
                    <h1 class="sr-only">Home page</h1>
                    <!-- Main Dawg Logo -->
                    <a href="{% url 'products' %}">
                        <img src="{{ MEDIA_URL }}dawg.png" alt="Dawg logo" id="home-logo" class="hvr-grow-rotate">
                    </a>
                    <!-- Product category icons / links -->
                    <div class="my-2 row">
                        <div class="col-6 col-sm-3 hvr-float-shadow text-center p-0">
                            <a href="{% url 'products' %}?category=collars,leads,harnesses" class="btn btn-sm rounded-0 home-links">
                                <img src="{{ MEDIA_URL }}collar.png" alt="Collar and Leash" class="home-icons">
                                <span>Collars & Leads</span>
                            </a>
                        </div>
                        <div class="col-6 col-sm-3 hvr-float-shadow text-center p-0">
                            <a href="{% url 'products' %}?category=food,treats,bowls" class=" btn btn-sm rounded-0 home-links">
                                <img src="{{ MEDIA_URL }}food.png" alt="Dog Food" class="home-icons">
                                <span>Food</span>
                            </a>
                        </div>
                        <div class="col-6 col-sm-3 hvr-float-shadow text-center p-0">
                            <a href="{% url 'products' %}?category=beds,kennels,blankets" class=" btn btn-sm rounded-0 home-links">
                                <img src="{{ MEDIA_URL }}bed.png" alt="Dog Bed" class="home-icons">
                                <span>Beds</span>
                            </a>
                        </div>
                        <div class="col-6 col-sm-3 hvr-float-shadow text-center p-0">
                            <a href="{% url 'products' %}?category=toys,balls,squeaky" class=" btn btn-sm rounded-0 home-links">
                                <img src="{{ MEDIA_URL }}toys.png" alt="Toys" class="home-icons">
                                <span>Toys</span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}