{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto" id="home-center-div">
                    <img src="../media/dawg.png" alt="Dawg logo" id="home-logo">
                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse</a>
                        </h4>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}