html {
    height: 100%;
}

body {
    background-color: #F37A4D;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'shrikhand';
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

#home-logo{
    width: auto;
    height: 50vh;
}

#home-center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-center-div i{
    font-size: 35px;
    border: 1px solid #414141;
    border-radius: 50px;
    padding: 10px;
    background-color: #1da258;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}