<ul class="mb-0 p-0">
    <!-- Open search bar -->
    <li class="list-inline-item">
      <a class="text-black nav-link d-block d-md-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
              <div><i class="fas fa-search fa-2x"></i></div>
          </div>
      </a>
      <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" id="mobile-search-bar" aria-labelledby="mobile-search">
          <form class="form" method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                  <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="What's up dawg?">
                  <div class="input-group-append">
                      <button class="form-control form-control btn border border-black rounded-0" type="submit">
                          <span class="icon">
                              <i class="fas fa-search"></i>
                          </span>
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </li>
  <!-- Open My Account dropdown menu -->
  <li class="list-inline-item dropdown">
      <!-- Account -->
      <a class="text-black nav-link d-block d-md-none" href="#" id="user-options-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
              <div><i class="fas fa-dog fa-2x"></i></div>
          </div>
      </a>
      <div class="dropdown-menu border-black" aria-labelledby="user-options-mobile">
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                  <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
          {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
          {% endif %}
      </div>
  </li>
  <li class="list-inline-item dropdown">
      <!-- About -->
    <a class="text-black nav-link d-block d-md-none" href="#" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-info-circle fa-2x"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-black">
        <a href="{% url 'locations' %}" class="dropdown-item">Locations</a>
        <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
    </div>
  </li>
  <!-- Shopping basket -->
  <li class="list-inline-item">
      <a class="{% if grand_total %}text-black font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-md-none" href="{% url 'view_bag' %}">
          <div class="text-center">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </div>
      </a>
    </li>
  </ul>