{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
    <hr>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. If you don't receive it, please try your spam folder and contact us if it doesn't arrive after a few minutes .{% endblocktrans %}</p>
{% endblock %}
