{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid contact-form-container bg-white">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <hr>
                <h1 class="logo-font mb-4">Contact Us</h1>
                <span class="text-muted sub-heading">Got any questions / concerns? Let us know below.</span>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="{% url 'contact' %}" method="POST" class="col-10 col-md-6 col-xl-4 contact-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-orange border-black mb-5" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}